<div class="container">
  <div class="row">
    <div class="col-xs-12">
<h1>Editing Picture</h1>

<%= render 'form', picture: @picture %>

<%= link_to 'Show', @picture %> |
<%= link_to 'Back', pictures_path %>
    </div>
  </div>
</div>
